
<div class="results">
  <div id="vk">
    <p>Vk First Name: <%= @search.vk_first_name %></p>
    <p>VK Last Name: <%= @search.vk_last_name %></p>
    <img src="<%= @search.vk_photo_link %>">
  </div>

  <div id="inst">
    Instagram
  </div>

  <div id="twit">
    <p>Twitter screen Name: <%= @search.twi_full_name %></p>
    <p>Twitter ID: <%= @search.twi_user_id %></p>
    <img src="<%= @search.twi_photo_link %>">
  </div>
</div>
<%= @search.victim_bio %>